<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.lazarus_backend00.dao.ModelInterfaceDao">

    <insert id="insert"
            parameterType="com.example.lazarus_backend00.infrastructure.persistence.entity.ModelInterfaceEntity"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO model_interface
        (
            processmodel_id,
            interface_name,
            is_default,
            created_at,
            updated_at,
            interface_summary
        )
        VALUES
            (
                #{processmodelId},
                #{interfaceName},
                #{isDefault},
                #{createdAt},
                #{updatedAt},
                #{interfaceSummary}
            )
    </insert>

    <select id="selectById"
            resultType="com.example.lazarus_backend00.infrastructure.persistence.entity.ModelInterfaceEntity">

        SELECT
            id,
            processmodel_id   AS processmodelId,
            interface_name    AS interfaceName,
            is_default        AS isDefault,
            created_at        AS createdAt,
            updated_at        AS updatedAt,
            interface_summary AS interfaceSummary
        FROM model_interface
        WHERE id = #{id}
    </select>

    <select id="selectByCondition"
            parameterType="com.example.lazarus_backend00.infrastructure.persistence.entity.ModelInterfaceEntity"
            resultType="com.example.lazarus_backend00.infrastructure.persistence.entity.ModelInterfaceEntity">

        SELECT
        id,
        processmodel_id   AS processmodelId,
        interface_name    AS interfaceName,
        is_default        AS isDefault,
        created_at        AS createdAt,
        updated_at        AS updatedAt,
        interface_summary AS interfaceSummary
        FROM model_interface
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>

            <if test="processmodelId != null">
                AND processmodel_id = #{processmodelId}
            </if>

            <if test="interfaceName != null and interfaceName != ''">
                AND interface_name LIKE CONCAT('%', #{interfaceName}, '%')
            </if>
        </where>
        ORDER BY created_at DESC
    </select>

</mapper>